*{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
:root{
     --ft-secondry: "Passion One", sans-serif;
     --ft-main: "Sriracha", cursive;

     --fz-large: clamp(3rem, 2.1429rem + 4.2857vw, 6rem);
     --fz-base: 1.6rem;
     --fz-small: 1.7rem;

     --tx-line-height: 3.4rem;

     --g-padding-sides: 12px;

     --min-wh-container: 300px;
     --max-wh-container: 600px;
}
html{
     font-size: 62.5%;
}
body{
     font-family: var(--ft-main);
     font-size: var(--fz-base);
     min-height: 100vh;
     background-color: #f5f5f5;
}
h1{
     font-family: var(--ft-secondry);
     font-size: var(--fz-large);
     font-variant: small-caps;
     font-weight: bolder;
     letter-spacing: 2px;
     color: #fff;
}
p{
     line-height: var(--tx-line-height); 
}
p, a{
     font-size: var(--fz-small);
}
a{
     color: #fff;
     display: inline-block;
     padding: 4px;
}
.hover_link{
     transition: .2s;
}
.hover_link:hover{
     transform: scale(1.1);
     color: #d0d0d0;
}

.header{
     text-align: center;
     background: #212121;
     
     padding: 25px var(--g-padding-sides);
}
.container{
     max-width: var(--max-wh-container);
     min-width: var(--min-wh-container);
     margin: auto;
     padding: 15vh 12px;
}

.container--bg{
     background-size: cover;
     background-attachment: fixed;
     background-position: right center;
     color: #fff;
     padding: 15vh 0px;
     overflow: hidden;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.container--bg-shadow{
     background-color: rgba(0, 0, 0, .50);
     border-radius: 0px 8px 8px 0px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     min-width: var(--min-wh-container);
     max-width: 58%;
     padding: 18px 12px;
}    
.container--bg:nth-child(2){
     background-image: url('imagens/background001.jpg');
}
.container--bg:nth-child(4){
     background-image: url('imagens/background002.jpg');

}
.footer{
     background: #212121;
     color: #fff;
     text-align: center;
     padding: 20px var(--g-padding-sides);
}